
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Mconoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg-container{
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png);
    color:white;
    height: 90vh;
    width: 50vw;
    
}
.main-heading{
    text-align: center;
    background-color: #323f4b; 
    height: 50px;
    padding: 5px;
}
.sender{
    background-color:#47a3f3;
    height: 35px;
    margin: 15px;
    font-family:Roboto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: right;
    padding: 8px;
    font-size: 15px;
    
}
.reciver{
    background-color:  #52606d; ;
    height: 35px;
    margin: 15px;
    font-family:Roboto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
   font-size: 15px;
    padding-top: 8px;
    
}
